#albumOption:hover{
    background-color: #A0CECB;
}

#albumOption {
    padding: 2px;
}

#albumArt:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

.btn-custom {
    background-color: white;
}

.btn-custom:hover {
    background-color: #3BAFDA;
}

.stopped {
    border: 5px solid #E9573F;
}

.playing {
    border: 5px solid #8CC152;
}